<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.7.2-alpha" targetFramework="net461" />
  <package id="Accord.Math" version="3.7.2-alpha" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.7.2-alpha" targetFramework="net461" />
  <package id="Deedle" version="1.2.5" targetFramework="net461" />
  <package id="DynamicInterop" version="0.8.1" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net461" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net461" />
  <package id="IronPython" version="2.7.7" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net461" />
  <package id="Microsoft.Solver.Foundation" version="3.1.0" targetFramework="net461" />
  <package id="R.NET" version="1.7.0" targetFramework="net461" />
  <package id="SharpLearning.AdaBoost" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.Common.Interfaces" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.Containers" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.CrossValidation" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.DecisionTrees" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.GradientBoost" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.InputOutput" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.Metrics" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.Optimization" version="0.25.0.4" targetFramework="net461" />
  <package id="SharpLearning.RandomForest" version="0.25.0.4" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>